

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url('../stylesheets/images/background3.jpg');
    background-position:fixed; 
    background-size: cover; 
    background-repeat: repeat;
    height: 1152px;
}

.main-container {
    background-position: static;
    background-size: cover;
    width: 100%;
    height: 280px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url('../stylesheets/images/container-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    margin-top: -11px;
     
}

.title {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: 3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
    outline: none;
    text-align: center;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
}

.form-label {
    color: #fff8dc;
}

/* REGISTER */

.registration-form {
  
    width: 50%;
    font-size: 15px;
    color: PaleGoldenRod;
    font-family: 'Gambetta', serif;
    letter-spacing: 1px;
    outline: none;
    text-align: center;   
}

/* LOGIN */

.form-wrapper {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-direction: row-reverse; 
    flex-wrap: wrap-reverse;
    gap: 5px 5px;  
    top: 150px;
    left: 45px;

}
:root {
    --gold: #ffb338;
    --light-shadow: #77571d;
    --dark-shadow: #3e2904;
}

 .login-form .login-title-wrapper {
    /* margin: 0; */
    /* box-sizing: border-box; */
    display: grid;
    grid-template-areas: 'overlap';
    place-content: center;
    text-transform: uppercase;
    height: 100px;
    padding-top: 25px;
}

.login-form .login-title-wrapper  > div {
    background-clip: text;
    -webkit-background-clip: text;
    color: #363833;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: clamp( 48px, 1vw, 240px);
    grid-area: overlap;
    letter-spacing: 3px;
    -webkit-text-stroke: 3.5px transparent;

}

div.login-title-bg {
    background-image: repeating-linear-gradient(105deg,
        var(--gold) 0% ,
        var(--dark-shadow) 5% ,
        var(--gold) 12%);
    color: #1e2127;
    filter: drop-shadow(5px 15px 15px black);
    transform: scaleY(1.04);
    transform-origin: top;
}

div.login-title-fg {
    background-image: repeating-linear-gradient(5deg,
        var(--gold) 0% ,
        var(--light-shadow) 23% ,
        var(--gold) 31%);
    color: transparent;
    transform: scale(1.01);
}

.login-form {
    position: static;
    flex: 1 1 auto;
    flex-basis: 2%;
    margin-right: 35px;
    background-image: url('../stylesheets/images/form-bg.jpg');
    background-image: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    -moz-box-shadow: 25px 25px 18px black;
    -webkit-box-shadow: 25px 25px 18px black;
    box-shadow: 25px 25px 18px black;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
    border: black 1px solid;
    height: 550px;
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    width: calc(100% - 164px);
    font-size: 13px;
}

.form-label {
    font-size: 15px;
    color: #BCBCBC;
    font-family: 'Gambetta', serif;
    letter-spacing: 1px;
    outline:#000;
    text-align: left;
    padding-bottom: 10px;
}

.form-group {
    position: relative;
    /* display: block; */
    margin-left: 35px;
    margin-top: 20px;
}

#email {
    width: 75%;
    align-items: center;
}

#password {
    width: 75%;
    align-items: center;
}

#dont-have-account {
    position: relative;
    font-size: 13px;
    font-family: 'Gambetta', serif;
    letter-spacing: 1px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
    outline: none;
    text-align: center;
    padding: 0.2cm;
}

#dont-have-account:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }

article.info-panel {
    position: static;
    flex: 1 1;
    flex-basis: 2%;
    width: 900px;
    height: 400px;
    word-break:keep-all;
    min-width: 200px;
    /* align-self: center; */
}

p.login-info {
    width: 600px;
    inline-size: auto;
    font-size: 30px;
    color: white;
    word-break: keep-all;
    min-width: 200px;
    
}

@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.large {
    font-size: 3rem;
}

.rise {
    text-shadow: -0.01em -0.01em 0.01em #000;
	animation: rise 3s ease-in-out 0.3s forwards;
}

@keyframes rise {
    to {
        text-shadow: 0em 0.01em #606060, 0em 0.02em #606060, 0em 0.02em 0.03em #606060,
			-0.01em 0.01em #484848, -0.02em 0.02em #484848, -0.03em 0.03em #484848,
			-0.04em 0.04em #484848, -0.01em -0.01em 0.03em #000, -0.02em -0.02em 0.03em #000,
			-0.03em -0.03em 0.03em #000, -0.04em -0.04em 0.04em #000, -0.05em -0.05em 0.05em #000;
		transform: translateY(-0.025em) translateX(0.04em);
    }
}


.peter-image {
    position: static;
    flex: 1 1 auto;
    padding-left: 20px;
    align-self: flex-start;
    flex-basis: 2%;
}

img.peter {
    filter: brightness(50%);
    margin: 5px;
    -moz-box-shadow: 25px 25px 18px black;
    -webkit-box-shadow: 25px 25px 18px black;
    box-shadow: 25px 25px 18px black;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius: 26px;
    border: black 1px solid;
    height: 500px;
    max-width: 500px;
    min-width: 500px;
    width: calc(100% - 164px);
}

/* @media screen and (min-width: 600px) {
    #peter-image {

    }
} */

/* HOMEPAGE */

.cv {
    
    width:auto; 
    height:auto;
}

