

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url('../stylesheets/images/background3.jpg');
    background-position:fixed; 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    height: 1152px;
}

.main-container {
    position: relative;
    width: 100%;
    height: 280px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url('../stylesheets/images/container-bg.jpg');
    background-image: no-repeat;
    background-size: cover;
    background-position: fixed;
    margin-top: -11px;
     
}

.title {
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Gambetta', serif;
    letter-spacing: 3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
    outline: none;
    text-align: center;
    padding-top: 0.5cm;
    padding-bottom: 0.5cm;
}

.form-label {
    color: #fff8dc;
}

/* REGISTER */

.registration-form {
  
    width: 50%;
    font-size: 15px;
    color: PaleGoldenRod;
    font-family: 'Gambetta', serif;
    letter-spacing: 1px;
    outline: none;
    text-align: center;   
}

/* LOGIN */

.login-title {
    padding-top: 15px;
    font-size: 30px;
    color: #808080;
}

.main-container .form-wrapper {
    display: flex;
    height: 400px;
    width: 400px;
    top: 250px;
    left: 45px;
}

#login-form {
    position: absolute;
    top: 150px;
    left: 75px;
    margin: 5px;
    margin-right: 35px;
    background-image: url('../stylesheets/images/form-bg.jpg');
    background-image: no-repeat;
    background-size: cover;
    background-position: fixed;
    background-image: flip(-180deg);
    background-repeat: no-repeat;
    border-radius: 2%;
    -moz-box-shadow: 25px 25px 18px black;
    -webkit-box-shadow: 25px 25px 18px black;
    box-shadow: 25px 25px 18px black;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
    border: black 1px solid;
    height: 550px;
    width: 17%;
    font-size: 13px;
}

.form-label {
    font-size: 15px;
    color: #BCBCBC;
    font-family: 'Gambetta', serif;
    letter-spacing: 1px;
    outline: none;
    text-align: left;
    padding-bottom: 10px;
}

.form-group {
    position: relative;
    display: block;
    margin-left: 35px;
    margin-top: 20px;
}

#email {
    width: 75%;
    align-items: center;
}

#password {
    width: 75%;
    align-items: center;
}

#dont-have-account {
    font-size: 13px;
    font-family: 'Gambetta', serif;
    letter-spacing: 1px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.8rem;
    color: PaleGoldenRod;
    outline: none;
    text-align: center;
    padding: 0.2cm;
}

#dont-have-account:hover {
    font-variation-settings: "wght" 582; 
    letter-spacing: 1px;
  }

.login-info-container {
    right: 200px;
    left: 100px;
    /* max-width: 1100px;
    width: calc(100% - 164px); */
    height: 700px;
    
}

.info-panel {
    position: absolute;
    top: 40%;
    left: 25%;
    width: 60%;
    word-break:keep-all;
}

.info-panel .login-info {
    inline-size: auto;
    font-size: 30px;
    color: white;
    word-break: keep-all;
    width: 60%;
}

@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.large {
    font-size: 3rem;
}

.rise {
    text-shadow: -0.01em -0.01em 0.01em #000;
	animation: rise 3s ease-in-out 0.3s forwards;
}

@keyframes rise {
    to {
        text-shadow: 0em 0.01em #606060, 0em 0.02em #606060, 0em 0.02em 0.03em #606060,
			-0.01em 0.01em #484848, -0.02em 0.02em #484848, -0.03em 0.03em #484848,
			-0.04em 0.04em #484848, -0.01em -0.01em 0.03em #000, -0.02em -0.02em 0.03em #000,
			-0.03em -0.03em 0.03em #000, -0.04em -0.04em 0.04em #000, -0.05em -0.05em 0.05em #000;
		transform: translateY(-0.025em) translateX(0.04em);
    }
}

.login-info-container .peter-image {
    /* display: flex; */
    position: absolute;
    right: 200px;
    top: 150px;
    filter: brightness(50%);
    margin: 5px;
    width: auto;  
    -moz-box-shadow: 25px 25px 18px black;
    -webkit-box-shadow: 25px 25px 18px black;
    box-shadow: 25px 25px 18px black;
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius: 10%;
    border: black 1px solid;

}

/* @media screen and (min-width: 600px) {
    #peter-image {

    }
} */

/* HOMEPAGE */

.cv {
    
    width:auto; 
    height:auto;
}

