body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
     url('../stylesheets/images/background3.jpg');
    background-position:fixed; 
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    height: 1152px;
}

.form-label {
    color: #fff8dc;
}
