<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='/stylesheets/styles.css') }}" />
    <link href="{{ url_for('static', filename='/stylesheets/styles_calc.css') }}"
          rel="stylesheet"
          type="text/css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://api.fontshare.com/css?f[]=gambetta@2,2&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/gambetta.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/gambetta2.css') }}" />
    <link rel="shortcut icon" href="" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/styleshomepage.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='/stylesheets/stylescvbutton.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='./design/style.css') }}" />

    <title>{% block title %}Homepage{% endblock %}</title>
</head>
<body>
    <div class="nav-wrapper ">
        <nav class="navbar-custom">
            {% if user.is_authenticated %}
            <a id="notes" href="/notespage" class="hover-this"><span class="nav-anime">Notes</span></a>
            <a id="webapps" href="/webapps" class="hover-this"><span class="nav-anime">Webapps</span></a>
            <a id="logout" href="/logout" class="hover-this"><span class="nav-anime">Logout</span></a>
            {% else %}
            <a id="homepage" href="/" class="hover-this"><span class="nav-anime">Home</span></a>
            <a id="login" href="/login" class="hover-this"><span class="nav-anime">Login</span></a>
            <a id="register" href="/register" class="hover-this"><span class="nav-anime">Register</span></a>
            {% endif %}
            <div class="cursor-custom" style=""></div>
        </nav>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category == 'error' %}
    <div class="alert alert-danger alert-dismissible fade show"
         role="alert">
        {{ message }}
        <button type="button"
                class="close"
                data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% else %}
    <div class="alert alert-success alert-dismissible fade show"
         role="alert">
        {{ message }}
        <button type="button"
                class="close"
                data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% endfor %}

    {% endif %}
    {% endwith %}


    <div class="main-container">
        {% block content %}

        {% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='index.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='script_calc.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='navbarcustom.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/Data.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/Display.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/Food.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/Fruit.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/Blob.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/HighScores.js') }}"></script>

    <script src="{{ url_for('static', filename='./source/board/Board.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/board/Canvas.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/board/BoardCanvas.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/board/GameCanvas.js') }}"></script>

    <script src="{{ url_for('static', filename='./source/score/ScoreBlob.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/score/Score.js') }}"></script>

    <script src="{{ url_for('static', filename='./source/ghosts/Ghosts.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/ghosts/Ghost.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/ghosts/Blinky.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/ghosts/Clyde.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/ghosts/Inky.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/ghosts/Pinky.js') }}"></script>

    <script src="{{ url_for('static', filename='./source/animations/Animations.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/animations/Animation.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/animations/DeathAnimation.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/animations/EndLevelAnimation.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/animations/FruitScoreAnimation.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/animations/GameOverAnimation.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/animations/GhostScoreAnimation.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/animations/NewLevelAnimation.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/animations/PausedAnimation.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/animations/ReadyAnimation.js') }}"></script>

    <script src="{{ url_for('static', filename='./source/demo/Demo.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/demo/DemoData.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/demo/BigBlob.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/demo/DemoBlob.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/demo/DemoFood.js') }}"></script>
    <script src="{{ url_for('static', filename='./source/demo/DemoGhost.js') }}"></script>

    <script src="{{ url_for('static', filename='./source/Init.js') }}"></script>

    <script src="{{ url_for('static', filename='./utils/Sounds.js') }}"></script>
    <script src="{{ url_for('static', filename='./utils/Storage.js') }}"></script>
    <script src="{{ url_for('static', filename='./utils/Utils.js') }}"></script>
</body>
</html>