{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<form method="POST">
    <h3 style="color: #fff8dc;" align="center">Login</h3>
    <div class="form-group">
        <label class="form-label" for="email">Email Address</label>
        <input type="email"
               class="form-control"
               id="email"
               name="email"
               placeholder="Enter email to see what's up"
        />
    </div>
    <div class="form-group">
        <label class="form-label" for="password">Password</label>
        <input type="password"
               class="form-control"
               id="password"
               name="password"
               placeholder="Enter hush-hush word"
        />
    </div>
    <br />
        <button type="submit" class="btn btn-outline-primary btn-lg btn-block">Get in here!</button>
    <a href="/register"><p style="text-align:center">Don't have an account and want to share your deatails? Click here to register</a>
</form>

{% endblock %}