{% extends "base.html" %}
{% block title %}Login{% endblock %}


{% block content %}
<div class="form-wrapper">
    <div class="peter-image">
        <img class="peter" src="../static/stylesheets/images/peter.png">
    </div>
    <article class="info-panel">
        <h1 class="large rise">Why would you login?!</h1>
        <hr>
        <P class="login-info">If you have created an account, you will then be able to login where you can leave notes,
        that I will be able to access from the database where those notes get saved to</P>
    </article>
    <form class="login-form" method="POST">
        <div class="login-title-wrapper">
            <div class="login-title-bg" align="center"><h3>Login</h3></div>
            <div class="login-title-fg" align="center"><h3>Login</h3></div>
        </div>
        <div class="form-group">        
            <label class="form-label" for="email">Email Address</label>
            <input type="email"
                class="form-control"
                id="email"
                name="email"
                placeholder="Enter email to see what's up"
            />
        </div>
        <div class="form-group">
            <label class="form-label" for="password">Password</label>
            <input type="password"
                class="form-control"
                id="password"
                name="password"
                placeholder="Enter hush-hush word"
            />
        </div>
        <br />
        <div class="col-md-12 text-left">
            <button 
            type="submit" 
            class="btn btn-outline-primary bt-lg" 
            style="color: PaleGoldenRod; margin-left: 20px; margin-bottom: 20px;">Now get in here!</button>
        </div>
        <a href="/register" style="color: PaleGoldenRod;" >
            <p id="dont-have-account"style="text-align:center">Don't have an account and want to share your deatails?<br>here to register
            </a>
        </div>
        

    </form> 
    
</div>
{% endblock %}
